<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div style="margin-left: 20px; background-color: rgb(241, 139, 139);">
    {% load static %}
       <a href="{% static 'images/Terata.jpeg'%}"><img src="{% static 'images/Terata.jpeg'%}" alt="no image" max-width="50%" height="60"></a>
    </div>
    <div>
        <p style="color: green; margin-left: 20px; font-size: 20px;">
            This page is Unauthroized
        </p>

    </div>
</body>
</html>