<style>
    .topright {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 18px;
    }

    .userCircle {
        border-radius: 50%;
        background: #289c34;
        border: 1px solid #289c34;
        color: #e6f2ea;
        text-align: center;
        display: block;
        margin: 0px;
        position: relative;
        height: 42px;
        width: 42px;
        z-index: 0;

        font: 32px  Courier New;
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
rel="stylesheet"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>



{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


        {% load static %}
        <div class="container-fluid py-4">

            <div class="row">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-header pb-0">
                    
                   
        
        <div class="topleft">
            <img src="{% static 'images/RYN_logo.jpeg'%}" alt="no image" max-width="100%" height="100">
            <h6> 
                <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;#4 / 32, 7th Cross Street, College Road,</small><br>
                <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Tirupur - 641602 - INDIA </small><br>
                <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Phone: +91 421 2201222, 2247333 </small><br>
                <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Email: support@rayaalyarns.com </small><br>
            </h6>
            <div class="topright"><a href="/logout" id="Logout" class="text-decoration-none"> <span class="userCircle mb-0" data-toggle="tooltip" data-placement="top" title="{{user}}">{{user|make_list|first|capfirst}}</span></a>
            </div>
           <!-- <div class="topright">Login as: {{Customer}}&nbsp;&nbsp;
           <input class="btn btn-primary" id="Logout" type="button" value="Logout"> 
            <i class="fa fa-sign-out" style="font-size: x-large; color: #fc054f;" ></i></div> -->
            <div class="topcenter">
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Quotation 104 - Page Industires Pvt Ltd </p>
                    <p>
                    <footer class="blockquote-footer">{% now "DATE_FORMAT" %} <cite title="Source Title">&nbsp;&nbsp;Quotation No : 104</cite></footer></p>
                  </blockquote>
                <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2>
                <h4>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small class="text-muted"></small></h4>
                
            </div>
    
    {% if not Error %}
    <!-- <div class="col"> -->
        
        <!-- <div class="card-body"> -->
        
            <blockquote class="blockquote text-center">
                <p class="mb-0">Thank You for your business</p>
                <p class="mb-0">We have reviewed your enquiry and have the best price   
                    from </p>
                    <p>
                <footer class="blockquote-footer">
                    Vardhman Textiles Limited (Unit-Arihant Spinning Mills)</footer>
              </blockquote></p>
    
                    
                        <table id="MyTable" class="table table-striped">
                           <thead>
                                <tr>
                                    <th scope="col">Row_no</th>
                                    <th scope="col"></th>
                                    <th scope="col">Counts</th>
                                    <th scope="col">Quality</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Blend</th>
                                    <th scope="col">Shade</th>
                                    <th scope="col">Depth</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Rate</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Last order</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                               
                                {% for Reg_no in data %}
                                
                                <tr>
                                    
                                    <th scope="row">{{forloop.counter}} <input type="hidden"  id="DBID{{forloop.counter}}"
                                        name="DBID{{forloop.counter}}" value="{{Reg_no.id}}" style="width:60px" readonly
                                    ></th>
                                    <th scope="row"><input</th>
                                    
                                    <td><input type="text" class="form-control" id="Counts{{forloop.counter}}"
                                            name="Counts{{forloop.counter}}" value="{{Reg_no.Counts}}" style="width:60px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td><input type="text" class="form-control" id="Quality{{forloop.counter}}"
                                            name="Quality{{forloop.counter}}" value="{{Reg_no.Quality}}" style="width:60px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td><input type="text" class="form-control" id="YarnType{{forloop.counter}}"
                                            name="YarnType{{forloop.counter}}" value="{{Reg_no.Type}}" style="width:100px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td><input type="text" class="form-control" id="Blend{{forloop.counter}}"
                                            name="Blend{{forloop.counter}}" value="{{Reg_no.Blend}}" style="width:250px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td><input type="text" class="form-control" id="Shade{{forloop.counter}}"
                                            name="Shade{{forloop.counter}}" value="{{Reg_no.Shade}}" style="width:150px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td> <input type="text" class="form-control" id="Depth{{forloop.counter}}"
                                            name="Depth{{forloop.counter}}" value="{{Reg_no.Depth}}" style="width:60px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td><input type="text" class="form-control" id="UOM{{forloop.counter}}"
                                            name="UOM{{forloop.counter}}" value="{{Reg_no.UOM}}" style="width:60px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td><input type="text" class="form-control" id="Quantity{{forloop.counter}}"
                                            name="Quantity{{forloop.counter}}" value="{{Reg_no.Quantity}}" style="width:80px"
                                            {{Quotation_ready}} readonly>
                                    </td>
                                    <td>
                                       <input type="text" class="form-control col-xs-2" id="Arate{{forloop.counter}}"
                                        name="Arate{{forloop.counter}}" value="{{Reg_no.Agent_Rate}}" style="width:60px" {{Quotation_ready}} readonly>
                                    </td>
                                    <td>
                                     <input type="text" class="form-control col-xs-2" id="Aamount{{forloop.counter}}"
                                        name="Aamount{{forloop.counter}}" value="{{Reg_no.Agent_Amount}}" style="width:60px" {{Quotation_ready}} readonly>
                                  </td>
                                   <td>
                                      <input type="text" class="form-control col-xs-2" id="Alast_order{{forloop.counter}}"
                                      name="Alast_order{{forloop.counter}}" value="{{Reg_no.Agent_Last_order}}"
                                      style="width:80px" {{Quotation_ready}} readonly>
                                    </td>
                                </tr>
                                <td><input type="hidden" class="form-control" id="Rno" name="Rno" value={{vReg_no}}
                                    readonly style="width:100px; border: solid rgb(183, 146, 146) 1px;" >
                            </td>
                                {% endfor %}
                                <tr class="table-success">
                                    <td colspan="11" align="right"> Total <small class="text-muted"> INR  ( Excluding GST)</small> </td>
                                    
                                <td colspan="1">
                                    <div class="txtTotalAmount"> </div>
                                </td>
                                <td></td>  

                                </tr>
                                <input type="hidden" id="txtRowCount" name="txtRowCount" value="">
                                
                            </tbody>
                        </table>
                        <br><br>
                       
                        
                        <form name="RYform" id="RYform" action="/confirmpo" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for Reg_no in data %}
                            <td><input type="hidden" class="form-control" id="Rno" name="Rno" value={{vReg_no}}
                                readonly style="width:100px; border: solid rgb(183, 146, 146) 1px;" >
                        </td>
                        {% endfor %}
                        <div class="form-group">
                          <label for="email"> &nbsp;&nbsp;&nbsp;&nbsp;Enter Purcahse Order Num
                            ber :</label>
                          &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" placeholder="Enter PO # " id="txtPONumber"  name="txtPONumber" style="width:160px">
                        </div>
                        <div class="form-group">
                          <label for="pwd"> &nbsp;&nbsp;&nbsp;&nbsp; Attach Purcahse Order PDF:</label>
                          &nbsp;&nbsp;&nbsp;&nbsp;<input type="file"  name="txtPOPDF" multiple/>
                          <!-- &nbsp;&nbsp;&nbsp;&nbsp;<label class="custom-file-label" for="inputGroupFile01">Choose</label> -->
                        </div>
                        <div class="form-group form-check">
                            <input class="btn btn-primary" id="saveAndProceed" type="submit" value="Confirm Order">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="btn btn-primary" id="cancelAction" value=" Cancel ">
                        </label>
                        </div>
                        
                        
                        <br>
                    
            </form>  
            <br><br>
        
    {% else %}
    <h2>No data was found</h2>
    {% endif %}
    
    {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var showEmailAction = function () {
        //   alert("hi");
        $('#myPopup').fadeIn(1000);
        $('#myPopup').resizable().draggable();
          $('#hidepop').click(function(){
            $('#myPopup').fadeOut(1000);
           })
        }
        $('#showEmailAction').on('click', showEmailAction)
    });
// console.log("popup")
</script>
<script>
    function onButtonClick() {
        document.getElementById('textInput').className = "show";
        document.getElementById('button').className = "show";
    }
</script>
<script>
    $(document).ready(function () {
        var saveAndProceed = function(){
            $('#hBtnAction').val("sap");
            $('#RYform').submit();
        }
        $('#saveAndProceed').on('click', saveAndProceed)

        var cancelAction = function () {
            $('#hBtnAction').val("cancel");
            $('#RYform').submit();
        }
        $('#cancelAction').on('click', cancelAction)

    });
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>


<script>
    //initialising a variable name row_count
    var row_count = 0;
    //printing default value of row_count that is 0 in h2 tag
    document.getElementById("counting").innerText = row_count;

    //creation of increment function
    function increment() {
        row_count = row_count + 1;
        // document.getElementById("counting").innerText = row_count;
    }
    //creation of decrement function
    function decrement() {
        row_count = row_count - 1;
        // document.getElementById("counting").innerText = row_count;
    }
</script>
<script>
    $(document).ready(function () {
        var row_count = $('#MyTable >tbody >tr').length;
        //var row_count = 0;
        // document.getElementById("counting").innerText = row_count;
        //Set total row count of Enquiry Items on load in hidden field
        $("#txtRowCount").val(row_count);

        //alert(" find total");
        //calculate total
       
        //alert(" total rows"+row_count);
        var totalAmount = 0;
        for ( i = 1;i<row_count;i++){
            
            var row_rate = parseInt($('#Arate'+i).val());
            var row_quantity = parseInt($('#Quantity'+i).val());

            totalAmount = totalAmount + (row_rate * row_quantity);
        }
        $("div.txtTotalAmount").text(totalAmount.toLocaleString('en-IN'));

        $(".add-row").click(function () {
            row_count = row_count + 1;
            var markup = "<tr>";
            markup+= "<th scope=\"row\">"+row_count+"</th>";
            markup+= "<td scope=\"row\"><input type='checkbox' name='record'> </td>";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=Counts"+row_count+" name=Counts"+row_count+" style=\"width:60px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=Quality"+row_count+" name=Quality"+row_count+" style=\"width:60px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=YarnType"+row_count+" name=YarnType"+row_count+" style=\"width:100px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=Blend"+row_count+" name=Blend"+row_count+" style=\"width:250px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=Shade"+row_count+" name=Shade"+row_count+" style=\"width:150px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=Depth"+row_count+" name=Depth"+row_count+" style=\"width:100px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=UOM"+row_count+" name=UOM"+row_count+" style=\"width:60px\" > </td>  ";
            markup+= "<td><input type=\"text\" class=\"form-control\" id=Quantity"+row_count+" name=Quantity"+row_count+" style=\"width:80px\" > </td>  ";  
            markup+= "</tr>";
            $("table tbody").append(markup);
            $("#txtRowCount").val(row_count);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                    row_count = row_count - 1;
                    // document.getElementById("counting").innerText = row_count;
                }
            });
            $("#txtRowCount").val(row_count);
        });
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })   
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#wrapper').dialog({
            autoOpen: false,
            title: 'Email Details'
        });
        $('#opener').click(function () {
            $('#wrapper').dialog('open');
            // return false;
        });
    });
</script>
    
    {% endblock javascripts %}