<style>
    .topright {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 18px;
    }

    .userCircle {
        border-radius: 50%;
        background: #289c34;
        border: 1px solid #289c34;
        color: #e6f2ea;
        text-align: center;
        display: block;
        margin: 0px;
        position: relative;
        height: 42px;
        width: 42px;
        z-index: 0;

        font: 32px  Courier New;
    }

</style>

{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

</head>
<body>
    
    <div class="container-fluid py-4">

        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                
                <header>
    
                    <div class="rounded float-start">
                        {% load static %}
                        <a href="{% static 'images/Terata.jpeg'%}"><img src="{% static 'images/Terata.jpeg'%}" alt="no image" max-width="50%" height="60"></a>
                        <div class="topright"><a href="/logout" id="Logout" class="text-decoration-none"> <span class="userCircle mb-0" data-toggle="tooltip" data-placement="top" title="{{user}}">{{user|make_list|first|capfirst}}</span></a>
                    </div>
                    </div>
                    <center>
                        <h3>Enquiry Validation </h3>
                    </center>
                </header><br><br>

    
    <form name="RYform" id="RYform" action="/QuantityStore" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">    
        <input type="hidden" id="Rno" name="Rno" value="{{vReg_no}}">
        <div class="col-md-6">
          <label for="delivery_Schedule" style="margin-left: 10px;" class="form-label">delivery Schedule:</label>
          <input type="text"style="margin-left: 10px;" class="form-control" name="Delivery" id="delivery">
          <label for="payment_term"style="margin-left: 10px;" class="form-label">payment term:</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Payment" id="payment_term">
          <label for="price" style="margin-left: 10px;" class="form-label">price:</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Price" id="price">
          <label for="matching_source" style="margin-left: 10px;" class="form-label">matching_source</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Matching" id="matching_source">
          <label for="buyer" style="margin-left: 10px;" class="form-label">buyer</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Buyer" id="buyer">
          <label for="any_other_specification" style="margin-left: 10px;" class="form-label">any_other_specification</label>
          <input type="text" class="form-control" style="margin-left: 10px;" name="OtherSpecification" id="any_other_specification">
          <label for="specification_if_no_product_type" style="margin-left: 10px;" class="form-label">specification_if_no_product_type</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Specification" id="specification_if_no_product_type">
          
        </div>
        <div class="col-md-6">
            <label for="commision" style="margin-left: 10px;" class="form-label">Commision  %</label>
            <input type="text" style="margin-left: 10px;" class="form-control" name="Commision" id="commision">
            <label class="form-label" style="padding-top: 20px;margin-left: 10px;">Need Baby Cones For Approval</label>
            <div class="col">
                
                <div class="form-check form-check-inline">
                <input class="form-check-input" style="margin-left: 10px;" type="radio" name="Approvel" id="Approvel" value="True">
                <label class="form-check-label" style="margin-left: 10px;" for="Approvel">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input"  style="margin-left: 10px;" type="radio" name="Approvel" id="Approvel" value="False">
                <label class="form-check-label" style="margin-left: 10px;" for="Approvel">no</label>
                </div>
                
            </div>
            <label class="form-label" style="padding-top: 20px;">Required By AIR</label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Required" id="Required" value="True">
                    <label class="form-check-label" for="Required">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Required" id="Required" value="False">
                    <label class="form-check-label" for="Required">no</label>
                    </div>

            </div>
            
      
        </div>
        
        <div style="padding-bottom: 40px;">
    </div>





        
        <div class="col-md-3">
            <fieldset>
                <legend style="padding-bottom: 37px; margin-left: 10px;">Fabric Design Wise Qty</legend>
         
            <label for="feeder_stripes" style="margin-left: 10px;" class="form-label">feeder_stripes</label>
            <input type="text"  style="margin-left: 10px;"  class="form-control" name="Feeder" id="feeder_stripes">
            <label for="jacaquard" style="margin-left: 10px;" class="form-label">jacaquard</label>
            <input type="text"  style="margin-left: 10px;" class="form-control" name="Jacaquard" id="jacaquard">
            <label for="mini_jaq"  style="margin-left: 10px;"class="form-label">mini_jaq</label>
            <input type="text" style="margin-left: 10px;" class="form-control" name="Mini_jaq" id="mini_jaq">
            <label for="auto_stripes" style="margin-left: 10px;" class="form-label">auto_stripes</label>
            <input type="text" style="margin-left: 10px;" class="form-control" name="Auto_stripes" id="auto_stripes">
            
            
            </fieldset>
      
        </div>
        <div class="col-md-3">
            <fieldset>
                <legend>Fabric Structure Wise Qty</legend>
         
            <label for="single_jersey" style="margin-top: 37px;" class="form-label">single_jersey</label>
            <input type="text" class="form-control" name="Single_jersey" id="single_jersey">
            <label for="p_k" class="form-label">p_k</label>
            <input type="text" class="form-control" name="P_K" id="p_k">
            <label for="interlock" class="form-label">interlock</label>
            <input type="text" class="form-control" name="Interlock" id="interlock">
            <label for="rib" class="form-label">rib</label>
            <input type="text" class="form-control" name="Rib" id="rib">
            
            
            </fieldset>
      
        </div>

        <div class="col-md-3" style="margin-top: 37px;">
            <fieldset>
                <legend style="padding-bottom: 37px;">Dyeing Qty</legend>
         
            <label for="white" class="form-label">white</label>
            <input type="text" class="form-control" name="White" id="white">
            <label for="light" class="form-label">light</label>
            <input type="text" class="form-control" name="Light" id="light">
            <label for="medium" class="form-label">medium</label>
            <input type="text" class="form-control" name="Medium" id="medium">
            <label for="dark" class="form-label">dark</label>
            <input type="text" class="form-control" name="Dark" id="dark">
            
            
            </fieldset>
        </div>

        <div class="col-md-3" style="margin-top: 37px;">
            <fieldset>
                <legend style="padding-bottom: 37px;">P/C, C/P Dyeing Qty</legend>
            <label for="overdyed" class="form-label">overdyed</label>
            <input type="text" class="form-control" name="Overdyed" id="overdyed">
            <label for="white" class="form-label">white</label>
            <input type="text" class="form-control" name="White1" id="white">
            <label for="light" class="form-label">light</label>
            <input type="text" class="form-control" name="Light1" id="light">
            <label for="dark" class="form-label">dark</label>
            <input type="text" class="form-control" name="Dark1" id="dark">
                
        
        </fieldset>
      
        </div>
        <fieldset class="row" style='padding-top:30px'>
            <legend style="margin-left: 500px;">Advance Details</legend>
        
        <div class="col-md-3">
    
            <label for="Pay_Mode" class="form-label" style="margin-left: 40px;">Pay Mode</label>
            <div class="col">
                
                <div class="form-check form-check-inline">
                <input class="form-check-input" style="margin-left: 40px;" type="radio" name="PayMode" id="PayMode" value="cheque">
                <label class="form-check-label" for="inlineRadio1">Cheque</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" style="margin-left: 40px;" type="radio" name="PayMode" id="PayMode" value="demand_draft">
                <label class="form-check-label" for="PayMode">Demand Draft</label>
                </div>
               
            </div>
        </div>
     
        <div class="col-md-2">
           
            <label for="rs" class="form-label">Rs.</label>
            <input type="text" class="form-control" name="Rupees" id="rs">
        </div>

        <div class="col-md-2">
           
            <label for="no" class="form-label">No.</label>
            <input type="text" class="form-control" name="Numbers1" id="no">
        </div>

        <div class="col-md-2">
    
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" name="Date" id="Date">
        </div>
        
        <div class="col-md-3">
    
            <label for="bank" class="form-label">Bank</label>
            <input type="text" class="form-control" name="Bank" id="Bank">
        </div>
    </fieldset>
    <div class="col-12">
        <button style="margin-top:10px; margin-left: 890px;" type="submit" class="btn btn-primary">Submit</button>
      </div>
      </div>
    </form>
    </div>
{% endblock content %}