



{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- /* scrool Bar menu deisgn */
        div.scrollmenu {
  
             overflow: auto;
            white-space: nowrap;
        }

        div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        div.scrollmenu a:hover {
            background-color: #777;
        }
        div.scroll {
        
        
            height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
            padding: 10px;
        } -->
        <!-- .popuptext{
            position: fixed;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 50px;
            padding: 50px;
            box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
            text-align: center;
            background-color: #fff;
            
            opacity: 0;
            transition: 0.5s; -->
{% endblock stylesheets %}

{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>        
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="container-fluid py-4">

        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                
                <header>
    
                    <div class="rounded float-start">
                        {% load static %}
                        <a href="{% static 'images/Terata.jpeg'%}"><img src="{% static 'images/Terata.jpeg'%}" alt="no image" max-width="50%" height="60"></a>
                        <div class="topright"><a href="/logout" id="Logout" class="text-decoration-none"> <span class="userCircle mb-0" data-toggle="tooltip" data-placement="top" title="{{user}}">{{user|make_list|first|capfirst}}</span></a>
                    </div>
                    </div>
                    <center>
                        <h3>Enquiry Validation </h3>
                    </center>
                </header><br><br>
                    
                <table class="table">
                   <th>Reg_No</th>
                   <th>Mill Name </th>
                   <th>Mill Rep</th>
                   <th>Cutomer</th>
                   <th>PO Number</th>
                   <!-- <th>PO PDF</th> -->

                 </tr>
                   {% for d in Header %}
             
             
                   <tr>
                    <td> {{ d.Reg_no }} </td>
                     <td> {{ d.Mill  }} </td>
                     <td> {{ d.Mill_Rep  }} </td>
                     <td> {{ d.Customer  }} </td>
                     <td> {{ d.Po_Number  }} </td>
                     <!-- <td> <a href="{{ d.Po_PDF.url }}">Download</a> </td> -->
                     {% endfor %}
                   
                   <h5>
              
             </h5>
             </table>
             
               <br><br>
                   
                <table class="table">
                   <th>Counts</th>
                   <th>Quality</th>
                   <th>Type</th>
                   <th>Blend</th>
                   <th>Shade</th>
                   <th>Shade Rep</th>
                   <th>Depth</th>
                   <th>UOM</th>
                   <th>Quantity</th>
                   

                 </tr>
                     {% for d in Items %}
                     <td> {{ d.Counts  }} </td>
                     <td> {{ d.Quality  }} </td>
                     <td>{{ d.Type }}</td>
                     
                     <td> {{ d.Blend  }} </td>
                     <td> {{ d.Shade  }} </td>
                     <td> {{ d.Shade_Ref  }} </td>
                     <td> {{ d.Depth  }} </td>
                     <td> {{ d.UOM  }} </td>
                     <td> {{ d.Quantity  }} </td>
                     
                     

                     </tr>
                      {% endfor %}
                   
                   <h5>
              
             </h5>
             </table>
             
               <br><br>
    <!-- <form action = "/cgi-bin/test.cgi" name = "myForm" onsubmit = "return(validate());">          -->
    <form  name = "myForm" onsubmit = "return(validate());" action="/QuantityStore" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">    
        <input type="hidden" id="Rno" name="Rno" value="{{vReg_no}}">
        <div class="col-md-6">
          <label for="delivery_Schedule" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">delivery Schedule:</label>
          <input type="text"style="margin-left: 10px;" class="form-control" name="Delivery" id="delivery">
          <label for="payment_term"style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">payment term:</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Payment" id="payment_term">
          <label for="price" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">price:</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Price" id="price">
          <label for="matching_source" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">matching_source</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Matching" id="matching_source">
          <label for="buyer" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">buyer</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Buyer" id="buyer">
          <label for="any_other_specification" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">any_other_specification</label>
          <input type="text" class="form-control" style="margin-left: 10px;" name="OtherSpecification" id="any_other_specification">
          <label for="specification_if_no_product_type" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">specification_if_no_product_type</label>
          <input type="text" style="margin-left: 10px;" class="form-control" name="Specification" id="specification_if_no_product_type">
          
        </div>
        <div class="col-md-6">
            <label for="commision" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">Commision  %</label>
            <input type="text" style="margin-left: 10px;" class="form-control" name="Commision" id="commision">
            <label class="label label-default text-sm font-weight-bold" style="padding-top: 20px;margin-left: 10px;">Need Baby Cones For Approval</label>
            <div class="col">
                
                <div class="form-check form-check-inline">
                <input class="form-check-input" style="margin-left: 10px;" type="radio" name="Approvel" id="Approvel" value="True">
                <label class="form-check-label" style="margin-left: 10px;" for="Approvel">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input"  style="margin-left: 10px;" type="radio" name="Approvel" id="Approvel" value="False">
                <label class="form-check-label" style="margin-left: 10px;" for="Approvel">no</label>
                </div>
            </div>
            <label class="label label-default text-sm font-weight-bold" style="padding-top: 20px;">Required By AIR</label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Required" id="Required" value="True">
                    <label class="form-check-label" for="Required">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Required" id="Required" value="False">
                    <label class="form-check-label" for="Required">no</label>
                    </div>

            </div>
            <br>
            <label  style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">Product Type</label>
            <select class="form-control" style="margin-left: 10px;" id="Quantity_type" name="Quantity_type">
                <option disabled selected value> -- select a Type-- </option>
                <option value="Dyed">Dyed </option>
                <option value="Cotton_Yarn">Cotton Yarn </option>
                <option value="P/C_Grey">P/C Grey </option>
                <option value="GMD_Kora">GMD Kora </option>
                <option value="GMD_Dyed">GMD Dyed </option>
                <option value="Melange">Melange </option>
                <option value="Cellulosic">Cellulosic </option>
                <option value="Fabric">Fabric </option>
                <option value="Polyester">Polyester </option>
                <option value="Corespun_Yarn">Corespun Yarn </option>
            </select>
            <br>
            <label for="Commit_date" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">Committed the date</label>
          <input type="date" style="margin-left: 10px;" class="form-control" name="Commit_date" id="Commit_date">

        </div>
        
        <div style="padding-bottom: 40px;">
    </div>





        
        <div class="col-md-3">
            <fieldset>
                <legend style="padding-bottom: 37px; margin-left: 10px;">Fabric Design Wise Qty</legend>
         
            <label for="feeder_stripes" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">feeder_stripes</label>
            <input type="text"  style="margin-left: 10px;"  class="form-control" name="Feeder" id="feeder_stripes">
            <label for="jacaquard" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">jacaquard</label>
            <input type="text"  style="margin-left: 10px;" class="form-control" name="Jacaquard" id="jacaquard">
            <label for="mini_jaq"  style="margin-left: 10px;"class="label label-default text-sm font-weight-bold">mini_jaq</label>
            <input type="text" style="margin-left: 10px;" class="form-control" name="Mini_jaq" id="mini_jaq">
            <label for="auto_stripes" style="margin-left: 10px;" class="label label-default text-sm font-weight-bold">auto_stripes</label>
            <input type="text" style="margin-left: 10px;" class="form-control" name="Auto_stripes" id="auto_stripes">
            
            
            </fieldset>
      
        </div>
        <div class="col-md-3">
            <fieldset>
                <legend>Fabric Structure Wise Qty</legend>
         
            <label for="single_jersey" style="margin-top: 37px;" class="label label-default text-sm font-weight-bold">single_jersey</label>
            <input type="text" class="form-control" name="Single_jersey" id="single_jersey">
            <label for="p_k" class="label label-default text-sm font-weight-bold">p_k</label>
            <input type="text" class="form-control" name="P_K" id="p_k">
            <label for="interlock" class="label label-default text-sm font-weight-bold">interlock</label>
            <input type="text" class="form-control" name="Interlock" id="interlock">
            <label for="rib" class="label label-default text-sm font-weight-bold">rib</label>
            <input type="text" class="form-control" name="Rib" id="rib">
            
            
            </fieldset>
      
        </div>

        <div class="col-md-3" style="margin-top: 37px;">
            <fieldset>
                <legend style="padding-bottom: 37px;">Dyeing Qty</legend>
         
            <label for="white" class="label label-default text-sm font-weight-bold">white</label>
            <input type="text" class="form-control" name="White" id="white">
            <label for="light" class="label label-default text-sm font-weight-bold">light</label>
            <input type="text" class="form-control" name="Light" id="light">
            <label for="medium" class="label label-default text-sm font-weight-bold">medium</label>
            <input type="text" class="form-control" name="Medium" id="medium">
            <label for="dark" class="label label-default text-sm font-weight-bold">dark</label>
            <input type="text" class="form-control" name="Dark" id="dark">
            
            
            </fieldset>
        </div>

        <div class="col-md-3" style="margin-top: 37px;">
            <fieldset>
                <legend style="padding-bottom: 37px;">P/C, C/P Dyeing Qty</legend>
            <label for="overdyed" class="label label-default text-sm font-weight-bold">overdyed</label>
            <input type="text" class="form-control" name="Overdyed" id="overdyed">
            <label for="white" class="label label-default text-sm font-weight-bold">white</label>
            <input type="text" class="form-control" name="White1" id="white">
            <label for="light" class="label label-default text-sm font-weight-bold">light</label>
            <input type="text" class="form-control" name="Light1" id="light">
            <label for="dark" class="label label-default text-sm font-weight-bold">dark</label>
            <input type="text" class="form-control" name="Dark1" id="dark">
                
        
        </fieldset>
      
        </div>
        <fieldset class="row" style='padding-top:30px'>
            <legend style="margin-left: 500px;">Advance Details</legend>
        
        <div class="col-md-3">
    
            <label for="Pay_Mode" class="label label-default text-sm font-weight-bold" style="margin-left: 40px;">Pay Mode</label>
            <div class="col">
                
                <div class="form-check form-check-inline">
                <input class="form-check-input" style="margin-left: 40px;" type="radio" name="PayMode" id="PayMode" value="cheque">
                <label class="form-check-label" for="inlineRadio1">Cheque</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" style="margin-left: 40px;" type="radio" name="PayMode" id="PayMode" value="demand_draft">
                <label class="form-check-label" for="PayMode">Demand Draft</label>
                </div>
               
            </div>
        </div>
     
        <div class="col-md-2">
           
            <label for="rs" class="label label-default text-sm font-weight-bold">Rs.</label>
            <input type="text" class="form-control" name="Rupees" id="rs">
        </div>

        <div class="col-md-2">
           
            <label for="no" class="label label-default text-sm font-weight-bold">No.</label>
            <input type="text" class="form-control" name="Numbers1" id="no">
        </div>

        <div class="col-md-2">
    
            <label for="date" class="label label-default text-sm font-weight-bold">Date</label>
            <input type="date" class="form-control" name="Date" id="Date">
        </div>
        
        <div class="col-md-3">
    
            <label for="bank" class="label label-default text-sm font-weight-bold">Bank</label>
            <input type="text" class="form-control" name="Bank" id="Bank">
        </div>
    </fieldset>
    <div class="col-12">
        <button style="margin-top:10px; margin-left: 890px;" type = "submit" value = "Submit" class="btn btn-primary">Submit</button>
      </div>
      </div>
    </form>
    </div>
{% endblock content %}
{% block javascripts %}

<script>
    // Form validation
    
    function validate() {
       if( document.myForm.Delivery.value == "" ) {
          alert( "Please provide your Delivery schedule!" );
          document.myForm.Delivery.focus() ;
          return false;
       }
       if( document.myForm.Payment.value == "" ) {
          alert( "Please provide your Payement Term!" );
          document.myForm.Payment.focus() ;
          return false;
       }
       if( document.myForm.Price.value == "" ) {
          alert( "Please provide your Price!" );
          document.myForm.Price.focus() ;
          return false;
       }
       if( document.myForm.Matching.value == "" ) {
          alert( "Please provide your Matching Source!" );
          document.myForm.Matching.focus() ;
          return false;
       }
       if( document.myForm.Buyer.value == "" ) {
          alert( "Please provide your Buyer Name!" );
          document.myForm.Buyer.focus() ;
          return false;
       }
       if( document.myForm.OtherSpecification.value == "" ) {
          alert( "Please provide your OtherSpecification!" );
          document.myForm.OtherSpecification.focus() ;
          return false;
       }
       if( document.myForm.Specification.value == "" ) {
          alert( "Please provide your Specification!" );
          document.myForm.Specification.focus() ;
          return false;
       }
       if( document.myForm.Commision.value == "" ) {
          alert( "Please provide your Commision!" );
          document.myForm.Commision.focus() ;
          return false;
       }
       if( document.myForm.Approvel.value == "" ) {
          alert( "Please provide your Approvel!" );
          document.myForm.Approvel.focus() ;
          return false;
       }
       if( document.myForm.Required.value == "" ) {
          alert( "Please provide your Required!" );
          document.myForm.Required.focus() ;
          return false;
       }
       if( document.myForm.Quantity_type.value == "" ) {
          alert( "Please provide your Quantity type!" );
          document.myForm.Quantity_type.focus() ;
          return false;
       }
       if( document.myForm.Commit_date.value == "" ) {
          alert( "Please provide your Commit date!" );
          document.myForm.Commit_date.focus() ;
          return false;
       }
       if( document.myForm.Feeder.value == "" ) {
          alert( "Please provide your Feeder!" );
          document.myForm.Feeder.focus() ;
          return false;
       }
       if( document.myForm.Jacaquard.value == "" ) {
          alert( "Please provide your Jacaquard!" );
          document.myForm.Jacaquard.focus() ;
          return false;
       }
       if( document.myForm.Mini_jaq.value == "" ) {
          alert( "Please provide your Mini jaq!" );
          document.myForm.Mini_jaq.focus() ;
          return false;
       }
       if( document.myForm.Auto_stripes.value == "" ) {
          alert( "Please provide your Auto stripes!" );
          document.myForm.Auto_stripes.focus() ;
          return false;
       }
       if( document.myForm.Single_jersey.value == "" ) {
          alert( "Please provide your Single jersey!" );
          document.myForm.Single_jersey.focus() ;
          return false;
       }
       if( document.myForm.P_K.value == "" ) {
          alert( "Please provide your P_K!" );
          document.myForm.P_K.focus() ;
          return false;
       }
       if( document.myForm.Interlock.value == "" ) {
          alert( "Please provide your Interlock!" );
          document.myForm.Interlock.focus() ;
          return false;
       }
       if( document.myForm.Rib.value == "" ) {
          alert( "Please provide your Rib!" );
          document.myForm.Rib.focus() ;
          return false;
       }
       if( document.myForm.White.value == "" ) {
          alert( "Please provide your White!" );
          document.myForm.White.focus() ;
          return false;
       }
       if( document.myForm.Light.value == "" ) {
          alert( "Please provide your Light!" );
          document.myForm.Light.focus() ;
          return false;
       }
       if( document.myForm.Medium.value == "" ) {
          alert( "Please provide your Medium!" );
          document.myForm.Medium.focus() ;
          return false;
       }
       if( document.myForm.Dark.value == "" ) {
          alert( "Please provide your Dark!" );
          document.myForm.Dark.focus() ;
          return false;
       }
       if( document.myForm.Overdyed.value == "" ) {
          alert( "Please provide your Overdyed!" );
          document.myForm.Overdyed.focus() ;
          return false;
       }
       if( document.myForm.White1.value == "" ) {
          alert( "Please provide your White1!" );
          document.myForm.White1.focus() ;
          return false;
       }
       if( document.myForm.Light1.value == "" ) {
          alert( "Please provide your Light1!" );
          document.myForm.Light1.focus() ;
          return false;
       }
       if( document.myForm.Dark1.value == "" ) {
          alert( "Please provide your Dark1!" );
          document.myForm.Dark1.focus() ;
          return false;
       }
       if( document.myForm.PayMode.value == "" ) {
          alert( "Please provide your PayMode!" );
          document.myForm.PayMode.focus() ;
          return false;
       }
       if( document.myForm.Rupees.value == "" ) {
          alert( "Please provide your Rupees!" );
          document.myForm.Rupees.focus() ;
          return false;
       }
       if( document.myForm.Numbers1.value == "" ) {
          alert( "Please provide your Numbers!" );
          document.myForm.Numbers1.focus() ;
          return false;
       }
       if( document.myForm.Date.value == "" ) {
          alert( "Please provide your Date!" );
          document.myForm.Date.focus() ;
          return false;
       }
       if( document.myForm.Bank.value == "" ) {
          alert( "Please provide your Bank!" );
          document.myForm.Bank.focus() ;
          return false;
       }

       return( true );
    }
 </script>    
<!-- <script>
        $(document).ready(function () {
            var Validations = function() {
                var vDelivery = $("#delivery").val();
                var vPayment = $("#payment_term").val();
                var vPrice = $("#price").val();
                var vMatching = $("#matching_source").val();
                var vBuyer = $("#vbuyer").val();
                var vOtherSpecification = $("#any_other_specification").val();
                var vSpecifications = $("#specification_if_no_product_type").val();
                var vCommision = $("#commision").val();
                var vQuantity_type = $("#Quantity_type").val();
                var vCommit_date = $("#Commit_date").val();
                var vRs = $("#rs").val();
                var vNo = $("#no").val();
                var vDate = $("#Date").val();
                var vBank = $("#Bank").val();
                alert(vDelivery)
                alert(vPayment)
                if (vDelivery == ''){
                    
                    alert("Please enter the Delivery schedule");
                    //$('#RYform').preventDefault();
                }
                
                if(vPayment == ''){
                    alert("Please enter the Payment term");
                    // $('#RYform').preventDefault();
                }
                // else if(vMatching == ''){
                //     alert("Please enter the Matching Source");
                // }
                // else if(vBuyer == ''){
                //     alert("please enter the buyer");
                // }
                // else if(vOtherSpecification == ''){
                //     alert("Please enter the Other specifications");
                // }
                // else if(vSpecifications == ''){
                //     alert("Please enter the if no product");
                // }
                // else if(vCommision == ''){
                //     alert("Please enter the Commision");
                // }
                // else if(vQuantity_type == None){
                //     alert("please enter the quantity");
                // }
                // else if(vCommit_date == ''){
                //     alert("Please enter the committed date");
                // }
                // else if(vRs == ''){
                //     alert("Please enter the Rupees");
                // }
                // else if(vNo == ''){
                //     alert("Please enter the Number");
                // }
                // else if(vDate == ''){
                //     alert("Please enter the Date");
                // }
                // else if(vBank == ''){
                //     alert("Please enter the Bank Name");
                // }
                else{
                    $('#RYform').submit();
                }

            }
            
            $('#Validations').on('click', Validations)
        });
    </script> -->
    <!-- <script>
        $("document").ready( function () {
            alert("Hello, world");
        }); 
    </script> -->
{% endblock javascripts %}